<div class="container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Painel do Aluno</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a routerLink="boletim" routerLinkActive="active">Boletim / Notas</a></li>
        <li><a routerLink="frequencia" routerLinkActive="active">Frequência</a></li>
        <li><a routerLink="provas" routerLinkActive="active">Calendário de Provas</a></li>
      </ul>
    </nav>

    <button class="btn-logout">Sair</button>
  </div>

  <div class="container-aluno">
    <router-outlet></router-outlet>
  </div>
</div>
