<div class="container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Painel do Professor</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a routerLink="gerenciar-provas" routerLinkActive="active">Gerenciar Provas</a></li>
        <li><a routerLink="atribuir-nota" routerLinkActive="active">Atribuir Nota</a></li>
        <li><a routerLink="frequencia" routerLinkActive="active">Frequência</a></li>
      </ul>
    </nav>

    <button class="btn-logout" (click)="logout()">Sair</button>
  </div>

  <div class="container-aluno">
    <!-- Adicionando o router-outlet para renderizar os componentes filhos -->
    <router-outlet></router-outlet>
  </div>
</div>
